<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5WLCZXC');
    </script>
    <!-- End Google Tag Manager -->
    <meta name="author" content="PlanetEclipse.org"/>
    <meta name="keywords" content="Planet, Eclipse, PlanetEclipse"/>
    <link rel="shortcut icon" href="//www.eclipse.org/eclipse.org-common/themes/solstice/public/images/favicon.ico"/>
    <title>
      <TMPL_VAR name>
    </title>
    <link rel="stylesheet" href="//www.eclipse.org/eclipse.org-common/themes/solstice/public/stylesheets/eclipse-ide.min.css?v1.1"/>
    <meta name="description" content="Planet Eclipse is a window into the world, work and lives of Eclipse hackers and contributors."/>
    <meta property="og:description" content="Planet Eclipse is a window into the world, work and lives of Eclipse hackers and contributors."/>
    <meta property="og:image" content="https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-200x200.png"/>
    <meta property="og:title" content="<TMPL_VAR name>"/>
    <meta property="og:image:width" content="200"/>
    <meta property="og:image:height" content="200"/>
    <meta itemprop="name" content="<TMPL_VAR name>"/>
    <meta itemprop="description" content="Planet Eclipse is a window into the world, work and lives of Eclipse hackers and contributors."/>
    <meta itemprop="image" content="https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-400x400.png"/>
    <meta name="twitter:site" content="@EclipsePlanet"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="<TMPL_VAR name>"/>
    <meta name="twitter:url" content="http://planeteclipse.org/planet/"/>
    <meta name="twitter:description" content="Planet Eclipse is a window into the world, work and lives of Eclipse hackers and contributors."/>
    <meta name="twitter:image" content="https://www.eclipse.org/eclipse.org-common/themes/solstice/public/images/logo/eclipse-400x400.png"/>
    <link href="//fonts.googleapis.com/css?family=Libre+Franklin:400,700,300,600,100" rel="stylesheet" type="text/css"/>
    <link rel="alternate" type="application/rss+xml" title="<TMPL_VAR name> (RSS)" href="rss20.xml" />
    <link rel="alternate" type="application/atom+xml" title="<TMPL_VAR name> (Atom)" href="atom.xml" />
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
  </head>
  <body id="body_solstice">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WLCZXC"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a class="sr-only" href="#content">Skip to main content</a>
    <header class="header-wrapper header-default-bg-img" id="header-wrapper">
      <div class="clearfix toolbar-container-wrapper">
        <div class="container">
          <div class="text-right toolbar-row row hidden-print">
            <div class="col-md-24 row-toolbar-col">
              <ul class="list-inline">
                <li><a class="toolbar-link toolbar-manage-cookies dropdown-toggle"><i class="fa fa-wrench"></i> Manage Cookies</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row" id="header-row">
          <div class="col-sm-5 col-md-4" id="header-left">
            <div class="wrapper-logo-default"><a href="<TMPL_VAR link>"><img class="hidden-xs" alt="logo" width="160" src="images/planeteclipse-white-logo.svg"/></a></div>
          </div>
          <div class="col-sm-19 col-md-20 margin-top-10" id="main-menu-wrapper">
            <div class="float-right hidden-xs" id="btn-call-for-action"><a href="https://www.eclipse.org/donate/" class="btn btn-huge btn-info"><i class="fa fa-star"></i> Donate</a></div>
            <div class="navbar yamm float-sm-right" id="main-menu">
              <div class="navbar-collapse collapse" id="navbar-main-menu">
                <ul class="nav navbar-nav">
                  <li>
                    <a data-toggle="modal" href="#modalabout">
                    <i class="fa fa-question-circle orange"></i> About
                    </a>
                  </li>
                  <li>
                    <a data-toggle="modal" href="#modaladd">
                    <i class="fa fa-plus orange"></i> Add your blog
                    </a>
                  </li>
                  <li class="dropdown visible-xs">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Community <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="http://marketplace.eclipse.org">Marketplace</a></li>
                      <li><a href="http://events.eclipse.org">Events</a></li>
                      <li><a href="http://www.planeteclipse.org/">Planet Eclipse</a></li>
                      <li><a href="https://www.eclipse.org/community/eclipse_newsletter/">Newsletter</a></li>
                      <li><a href="https://www.youtube.com/user/EclipseFdn">Videos</a></li>
                      <li><a href="https://blogs.eclipse.org">Blogs</a></li>
                    </ul>
                  </li>
                  <li class="dropdown visible-xs">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Participate <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
                      <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
                      <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
                      <li><a href="https://wiki.eclipse.org/">Wiki</a></li>
                      <li><a href="https://wiki.eclipse.org/IRC">IRC</a></li>
                      <li><a href="https://www.eclipse.org/org/research/">Research</a></li>
                    </ul>
                  </li>
                  <li class="dropdown visible-xs">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Eclipse IDE <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="https://www.eclipse.org/downloads">Download</a></li>
                      <li><a href="https://help.eclipse.org">Documentation</a></li>
                      <li><a href="https://www.eclipse.org/getting_started">Getting Started / Support</a></li>
                      <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
                      <li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
                      <li><a href="https://www.eclipse.org/forums/index.php/f/89/">Newcomer Forum</a></li>
                    </ul>
                  </li>
                  <!-- More -->
                  <li class="dropdown eclipse-more hidden-xs">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button">More<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <!-- Content container to add padding -->
                        <div class="yamm-content">
                          <div class="row">
                            <ul class="col-sm-8 list-unstyled">
                              <li>
                                <p><strong>Community</strong></p>
                              </li>
                              <li><a href="http://marketplace.eclipse.org">Marketplace</a></li>
                              <li><a href="http://events.eclipse.org">Events</a></li>
                              <li><a href="http://www.planeteclipse.org/">Planet Eclipse</a></li>
                              <li><a href="https://www.eclipse.org/community/eclipse_newsletter/">Newsletter</a></li>
                              <li><a href="https://www.youtube.com/user/EclipseFdn">Videos</a></li>
                              <li><a href="https://blogs.eclipse.org">Blogs</a></li>
                            </ul>
                            <ul class="col-sm-8 list-unstyled">
                              <li>
                                <p><strong>Participate</strong></p>
                              </li>
                              <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
                              <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
                              <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
                              <li><a href="https://wiki.eclipse.org/">Wiki</a></li>
                              <li><a href="https://wiki.eclipse.org/IRC">IRC</a></li>
                              <li><a href="https://www.eclipse.org/org/research/">Research</a></li>
                            </ul>
                            <ul class="col-sm-8 list-unstyled">
                              <li>
                                <p><strong>Eclipse IDE</strong></p>
                              </li>
                              <li><a href="https://www.eclipse.org/downloads">Download</a></li>
                              <li><a href="https://help.eclipse.org">Documentation</a></li>
                              <li><a href="https://www.eclipse.org/getting_started">Getting Started / Support</a></li>
                              <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
                              <li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
                              <li><a href="https://www.eclipse.org/forums/index.php/f/89/">Newcomer Forum</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <div class="wrapper-logo-mobile"><a class="navbar-brand visible-xs" href="<TMPL_VAR link>"><img class="logo-eclipse-default-mobile img-responsive" alt="logo" width="160" src="images/planeteclipse-white-logo.svg"/></a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section id="breadcrumb" class="default-breadcrumbs margin-bottom-20 hidden-print">
      <div class="container">
        <div class="col-xs-15">
          <ol class="breadcrumb">
            <li><a href="https://www.eclipse.org/">Home</a></li>
            <li><a href="https://www.eclipse.org/community/">Community</a></li>
            <li class="active">Planet Eclipse</li>
          </ol>
        </div>
        <div class="col-xs-9 margin-top-5 text-right">
          <a href="https://twitter.com/EclipsePlanet" class="twitter-follow-button" data-show-count="false">Follow @EclipsePlanet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </section>
    <main>
      <div class="container" id="novaContent">
        <!-- Start of content area -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#main-content" data-toggle="tab">Latest Posts</a></li>
          <li><a href="#blogs" data-toggle="tab">Blogs</a></li>
        </ul>
        <div class="tab-content background-white margin-bottom-30">
          <div class="tab-pane active" id="main-content">
            <TMPL_LOOP Items>
              <TMPL_IF new_date>
              <h2 class="date h2 page-header margin-top-0">
                <TMPL_VAR new_date>
              </h2>
              </TMPL_UNLESS>
              <div class="media">
                <a class="pull-left text-center hidden-xs" href="<TMPL_VAR channel_link ESCAPE="HTML">" title="<TMPL_VAR channel_title ESCAPE="HTML">" target="_blank">
                  <TMPL_IF channel_picture>
                    <img class="img-responsive center-block" src="authors/<TMPL_VAR channel_picture ESCAPE="HTML">" alt="<TMPL_VAR channel_name>"/>
                    <br/>
                  </TMPL_IF>
                  <TMPL_VAR channel_name>
                </a>
                <div class="media-body">
                  <h1 class="media-heading">
                    <a href="<TMPL_VAR link ESCAPE="HTML">" title="Open blog <TMPL_VAR title ESCAPE="HTML">." target="_blank">
                      <TMPL_VAR title>
                    </a>
                  </h1>
                  <p class="moreinfo margin-bottom-20">
                    <small><TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date></small>
                  </p>
                  <div class="media-body-content">
                    <TMPL_VAR content>
                  </div>
                  <hr class="margin-bottom-5"/>
                  <p class="moreinfo text-right">
                    <small>
                      <a href="<TMPL_VAR link ESCAPE="HTML">" title="Open blog <TMPL_VAR title ESCAPE="HTML">." target="_blank">
                        <TMPL_IF author>by <TMPL_VAR author> at </TMPL_IF><TMPL_VAR date>
                      </a>
                    </small>
                  </p>
                </div>
              </div>
            </TMPL_LOOP>
          </div>
          <!-- /#main-content -->
          <div id="blogs" class="tab-pane">
            <div class="row-fluid">
              <h2 class="page-header margin-top-0">Blogs</h2>
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Active Blogs
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                      <ul class="list-unstyled list-channels">
                        <TMPL_LOOP Channels>
                          <TMPL_UNLESS message>
                            <li>
                              <a href="<TMPL_VAR url ESCAPE="HTML">" title="subscribe">
                                <i class="fa fa-rss-square orange" aria-hidden="true"></i>
                              </a>
                              <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF>title="Open <TMPL_VAR title_plain ESCAPE="HTML">." target="_blank"><TMPL_VAR name></a>
                            </li>
                          </TMPL_UNLESS>
                        </TMPL_LOOP>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Inactive Blogs
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      <ul class="list-unstyled list-inline list-channels">
                        <TMPL_LOOP Channels>
                          <TMPL_IF message>
                            <li>
                              <a href="<TMPL_VAR url ESCAPE="HTML">" title="<TMPL_VAR message ESCAPE="HTML">">
                                <img src="images/feed-inactive-icon-10x10.png" alt="(inactive feed)" />
                              </a>
                              <a <TMPL_IF link>href="<TMPL_VAR link ESCAPE="HTML">" </TMPL_IF>title="<TMPL_VAR message ESCAPE="HTML">" target="_blank">
                              <TMPL_VAR name>
                              </a>
                            </li>
                          </TMPL_IF>
                        </TMPL_LOOP>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row-fluid -->
          </div>
          <!-- /#blogs -->
        </div>
        <!-- /.tab-content -->
      </div>
    </main>
    <!-- /#main-content-container-row -->
    <div class="modal fade" id="modalabout" tabindex="-1" role="dialog" aria-labelledby="modalaboutLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">About Planet Eclipse</h4>
          </div>
          <div class="modal-body">
            <p>Planet Eclipse is a window into the world, work and lives of Eclipse hackers and contributors.</p>
            <table class="table">
              <tbody>
                <tr>
                  <td><a href="rss10.xml"><img alt="RSS 1.0" src="images/rss10.png"></a></td>
                  <td><a href="rss20.xml"><img alt="RSS 2.0" src="images/rss20.png"></a></td>
                </tr>
                <tr>
                  <td><a href="atom.xml"><img alt="Atom" src="images/atom.png"></a></td>
                  <td><a href="opml.xml"><img alt="OPML" src="images/opml.png"></a></td>
                </tr>
              </tbody>
            </table>
            <p>Looking for an RSS Newsreader? Try RSSOwl, it is built on Eclipse! <a href="http://www.rssowl.org/" title="Get RSSOwl - Free RSS / RDF / Atom Newsreader."><img src="images/rssowl.gif"  alt="Get RSSOwl" height="15" width="80"></a></p>
            <p>Last updated: April 26, 2012 06:53 PM (UTC)</p>
            <p> Maintained by the Planet Eclipse <a href="http://wiki.eclipse.org/index.php/PlanetEclipseAdmins" title="The Planet Eclipse Admins" target="_blank">admins</a>.</p>
            <p>Powered by:<br> <a href="http://www.planetplanet.org/"><img src="images/planet.png" alt="Planet" height="15" width="80"></a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modaladd" tabindex="-1" role="dialog" aria-labelledby="modaladdLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add your blog</h4>
          </div>
          <div class="modal-body">
            <p>Want to become a Planet Eclipse author? To add your blog to the feed, please have a look at our <a href="https://gitlab.eclipse.org/eclipsefdn/it/websites/planeteclipse.org#guidelines" target="_blank">guidelines</a> and then open an <a href="https://gitlab.eclipse.org/eclipsefdn/it/websites/planeteclipse.org/-/issues/new?issuable_template=add_blog" target="_blank">issue</a> or create a pull request with your feed-specific information.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <p id="back-to-top">
      <a class="visible-xs" href="#top">Back to the top</a>
    </p>
    <!-- Sign Up to our Newsletter -->
    <div class="featured-footer featured-footer-newsletter background-secondary" style="background-image:url('https://www.eclipse.org/photon/public/images/photon-home-bg.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-sm-24">
            <p><i data-feather="mail" stroke-width="1"></i></p>
            <h2>Sign up to our Newsletter</h2>
            <p>A fresh new issue delivered monthly</p>
            <form action="https://eclipsecon.us6.list-manage.com/subscribe/post" method="post" target="_blank">
              <div class="form-group">
                <input type="hidden" name="u" value="eaf9e1f06f194eadc66788a85">
                <input type="hidden" name="id" value="46e57eacf1">
              </div>
              <input type="submit" value="Subscribe" name="subscribe" class="button btn btn-warning">
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer id="solstice-footer">
      <div class="container">
        <div class="row">
          <section class="col-sm-6 hidden-print" id="footer-eclipse-foundation">
            <h2 class="section-title">Eclipse Foundation</h2>
            <ul class="nav">
              <li><a href="https://www.eclipse.org/org/">About Us</a></li>
              <li><a href="https://www.eclipse.org/org/foundation/contact.php">Contact Us</a></li>
              <li><a href="https://www.eclipse.org/donate">Donate</a></li>
              <li><a href="https://www.eclipse.org/org/documents/">Governance</a></li>
              <li><a href="https://www.eclipse.org/artwork/">Logo and Artwork</a></li>
              <li><a href="https://www.eclipse.org/org/foundation/directors.php">Board of Directors</a></li>
            </ul>
          </section>
          <section class="col-sm-6 hidden-print" id="footer-legal">
            <h2 class="section-title">Legal</h2>
            <ul class="nav">
              <li><a href="https://www.eclipse.org/legal/privacy.php">Privacy Policy</a></li>
              <li><a href="https://www.eclipse.org/legal/termsofuse.php">Terms of Use</a></li>
              <li><a href="https://www.eclipse.org/legal/copyright.php">Copyright Agent</a></li>
              <li><a href="https://www.eclipse.org/legal/epl-2.0/">Eclipse Public License</a></li>
              <li><a href="https://www.eclipse.org/legal/">Legal Resources </a></li>
            </ul>
          </section>
          <section class="col-sm-6 hidden-print" id="footer-useful-links">
            <h2 class="section-title">Useful Links</h2>
            <ul class="nav">
              <li><a href="https://bugs.eclipse.org/bugs/">Report a Bug</a></li>
              <li><a href="//help.eclipse.org/">Documentation</a></li>
              <li><a href="https://www.eclipse.org/contribute/">How to Contribute</a></li>
              <li><a href="https://www.eclipse.org/mail/">Mailing Lists</a></li>
              <li><a href="https://www.eclipse.org/forums/">Forums</a></li>
              <li><a href="//marketplace.eclipse.org">Marketplace</a></li>
            </ul>
          </section>
          <section class="col-sm-6 hidden-print" id="footer-other">
            <h2 class="section-title">Other</h2>
            <ul class="nav">
              <li><a href="https://www.eclipse.org/ide/">IDE and Tools</a></li>
              <li><a href="https://www.eclipse.org/projects">Community of Projects</a></li>
              <li><a href="https://www.eclipse.org/org/workinggroups/">Working Groups</a></li>
              <li><a href="https://www.eclipse.org/org/research/">Research@Eclipse</a></li>
              <li><a href="https://status.eclipse.org">Service Status</a></li>
            </ul>
          </section>
          <div class="col-sm-24 margin-top-20">
            <div class="row">
              <div id="copyright" class="col-md-16">
                <p id="copyright-text">Copyright &copy; Eclipse Foundation, Inc. All Rights Reserved.</p>
              </div>
              <div class="col-md-8 social-media">
                <ul class="list-inline">
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://twitter.com/EclipseFdn">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x"></i>
                    </a>
                  </li>
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://www.facebook.com/eclipse.org">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                    </a>
                  </li>
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://www.youtube.com/user/EclipseFdn">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-youtube fa-stack-1x"></i>
                    </a>
                  </li>
                  <li>
                    <a class="social-media-link fa-stack fa-lg" href="https://www.linkedin.com/company/eclipse-foundation">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <a href="#" class="scrollup">Back to the top</a>
        </div>
      </div>
    </footer>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/javascript/main.min.js?var=1.2"></script>
  </body>
</html>